

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres.vdnzihpghlaonfrgopro:im23231101026@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres.vdnzihpghlaonfrgopro:im23231101026@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres"
NODE_ENV=development
R2_ACCOUNT_ID="667468a650403eeb06522408dd00950e"
R2_ACCESS_KEY_ID="8fae5585fa6241fdf8d34ea4f0d9c9b8"
R2_SECRET_ACCESS_KEY="850c941299c800f37a01c98463370dd95f6046c8cedee0eeeaf5175ea5dae725"
R2_BUCKET_NAME="cdrlogo"
R2_ENDPOINT="https://pub-4456792a2b3d427b825a05d1b0bbeae2.r2.dev"
TOKEN="cfut_pJuiTHCwkMuqtqURbBJgxwJHQW7qf30GFVhV0tBn69bcc31b"
JWT_SECRET=supersecretkey
EMAIL_PASS=zonx kpcs qjgf sfoj
EMAIL_USER=im3966041@gmail.com
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXTAUTH_SECRET=supersecretkey
PINE=pcsk_mkLyC_5zFZaC4BQahG9RM3agr9rDiYwvpWDueoAHaQfV1VzE8m8jyejqTbyGmnKGwjtjL
GOOGLE_CLIENT_ID=302088718532-cjuig2qp0ncmur2a97t5p16qq0htuseh.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXTAUTH_URL=https://www.cdrlogo.com
NEXTAUTH_URL=http://localhost:3000
OPENAI_API_KEY=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